:root{
    display: flex;
    justify-content: center;
    background: #E5E5E5;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 80px;
    background: #FFFFFF;
}

.button_base{
    display: flex;
    align-items: center;
}

.content .menu{
    display: flex;
}

